
RecorderReader/.vs/Serial/v16/.suo
RecorderReader/.vs/Serial/v16/.suo
*.exe
*.pdb
*.cache
*.cache
*.exe
*.pdb
RecorderReader/.vs/Serial/v16/.suo
RecorderReader/SerialCom/bin/x64/Debug/SerialCom.exe
RecorderReader/SerialCom/bin/x64/Debug/SerialCom.pdb
RecorderReader/SerialCom/obj/x64/Debug/SerialCom.csproj.GenerateResource.cache
RecorderReader/SerialCom/obj/x64/Debug/SerialCom.csprojAssemblyReference.cache
RecorderReader/SerialCom/obj/x64/Debug/SerialCom.exe
RecorderReader/SerialCom/obj/x64/Debug/SerialCom.pdb
RecorderReader/SerialCom/bin/x64/Debug/SerialCom.pdb
*.exe
*.cache
RecorderReader/SerialCom/obj/x64/Debug/SerialCom.exe
RecorderReader/SerialCom/obj/x64/Debug/SerialCom.pdb
